@model RegulatoryUniverse.Models.AddUserData
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Main - Regulatory Universe - APP Users";
    var currentYear = @DateTime.Now.Year;

    var fullName = Context.Session.GetString("fullname");
    var userRole = Context.Session.GetString("userRole");

}
<!--Begin Page Content-->
<div class="page-content d-flex align-items-stretch">
    <div class="w3-card-2 w3-white panel default-sidebar">
        <!-- Begin Side Navbar -->
        <nav class="side-navbar box-scroll sidebar-scroll">
            <!-- Begin Main Navigation -->
            <ul class="list-unstyled">

                <li><a href="/Home"><i class="ti ti-dashboard"></i><span>Dashboard</span></a></li>
                <li><a href="/ReportUpdate"><i class="ti ti-bell"></i><span>My Updates</span></a></li>
                @if (userRole.ToUpper() == "ADMINISTRATOR" || userRole.ToUpper() == "COMPLIANCEADMIN")
                {
                <li><a href="/AdminAnalytics"><i class="ti ti-bar-chart"></i><span>Analytics</span></a></li>
                <li><a href="/AdminReportUpdate"><i class="ti ti-alarm-clock"></i><span>Admin Report Updates</span></a></li>
                <li>
                    <a href="#dropdown-tables" class="active" aria-expanded="true" data-toggle="collapse"><i class="ti-settings"></i><span>Settings</span></a>
                    <ul id="dropdown-tables" class="collapse list-unstyled show pt-0">
                        <li><a href="/ReportSchedules">Report Schedules</a></li>
                        <li><a class="sub_active" href="/AdminAppUser">Manage App Users</a></li>
                        <li><a href="/MailListManager">Manage Mailing List</a></li>

                    </ul>
                </li>
                }
                <li><a href="https://cbgcomgh.sharepoint.com:443/:f:/s/Compliance/EskAP68scu9LhvslWc_gndkBMrlw1PUVvW6XexoOuIWizQ?e=5%3ahtDkGj&at=9" target="_blank"><i class="ti-anchor"></i><span>Regulatory Laws</span></a></li>
                <li><a href="#" id="logoutDashBtn"><i class="ion-log-out"></i><span>Log Out</span></a></li>

            </ul>

        </nav>
        <!-- End Side Navbar -->
    </div>

    <div class="content-inner">
        <div class="container-fluid">
            <div class="give-space"></div>

            <div class="row">
                <div class="col-xl-12">
                    <!-- Export -->
                    <div class="w3-card-2 w3-white panel widget has-shadow">
                        <div class="widget has-shadow">
                            <div class="widget-header bordered no-actions d-flex align-items-center w3-light-gray">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-10 col-md-10 col-sm-10">
                                            <h4>Add a user</h4>
                                        </div>
                                        <div class="col-2">
                                            <h4><a asp-action="Index" class="btn btn-danger outline-btn pull-right m-l-20 waves-effect waves-light"><i style="color: #000;" class='ti-angle-left'></i> Go Back</a></h4>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="widget-body">

                                <form class="needs-validation" asp-controller="AdminAppUser" asp-action="Add" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group row d-flex align-items-center mb-5" style="margin: 0!important;">
                                        <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Username/Email</label>
                                        <div class="col-lg-5">
                                            <input type="text" id="sug_input" class="form-control" placeholder="Enter username" asp-for="Username" required>

                                        </div>

                                        <div class="col-lg-3">
                                            <div class="spinner-border text-muted" id="officer_spinner"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row d-flex align-items-center mb-5">
                                        <label class="col-lg-4 form-control-label d-flex justify-content-lg-end"></label>
                                        <div class="col-lg-5">
                                            <div id="result" class="list-group"></div>
                                        </div>
                                        @*<select id="sug_input" class="custom-select form-control" asp-for="Officer" ></select>*@
                                    </div>

                                    <div class="form-group row d-flex align-items-center mb-5">
                                        <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Roles</label>
                                        <div class="col-lg-5">
                                            @*<input type="text" class="form-control" placeholder="Enter Short name" asp-for="priority" required>*@
                                            <select asp-for="UserRole" class="form-control">
                                                <option value="">Select Role</option>
                                                <option value="2019">Compliance Admin</option>
                                                <option value="2020">Compliance User</option>
                                            </select>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="form-group row d-flex align-items-center mb-5">
                                        <label class="col-lg-4 form-control-label d-flex justify-content-lg-end" style="color:white !important">Date Added</label>
                                        <div class="col-lg-5 text-right">
                                            <button class="btn btn-danger btn-gradient-01 waves-effect waves-light showLoaderBtn" type="submit">Submit</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- End Row -->
    <!-- End Container -->
    <!-- Begin Page Footer-->
    <footer class="main-footer fixed-footer">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
                <p class="text-gradient-02"><b>&copy; @currentYear, Consolidated Bank Ghana</b> | All Rights Reserved</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">

            </div>
        </div>
    </footer>
    <!-- End Page Footer -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>

</div>