
@{
    ViewData["Title"] = "Error - Regulatory Universe";
    var currentYear = @DateTime.Now.Year;
}

<!-- Begin Container -->
<div class="container-fluid h-100 error-01">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12">
            <!-- Begin Container -->
            <div class="error-container mx-auto text-center">
                <h1>OOPS!</h1>
                <h2>This page cannot be found! </h2>
                <p>Please ensure that you have rights to access the page you are looking for. </p>
                <a href="/" class="btn btn-shadow">
                    Go Home
                </a>
            </div>
            <!-- End Container -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Container -->
