@model RegulatoryUniverse.Models.ReportUpdates
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Admin Report Updates - Regulatory Universe Dashboard";
    var currentYear = @DateTime.Now.Year;
    var currentDate = @DateTime.Now.ToString("yyyy-MM-dd H:mm:ss");

    var fullName = Context.Session.GetString("fullname");
    var userRole = Context.Session.GetString("userRole");
}
<!--Begin Page Content-->
<div class="page-content d-flex align-items-stretch">
    <div class="w3-card-2 w3-white panel default-sidebar">
        <!-- Begin Side Navbar -->
        <nav class="side-navbar box-scroll sidebar-scroll">
            <!-- Begin Main Navigation -->
            <ul class="list-unstyled">

                <li><a href="/Home"><i class="ti ti-dashboard"></i><span>Dashboard</span></a></li>
                <li><a href="/ReportUpdate"><i class="ti ti-bell"></i><span>My Updates</span></a></li>
                @if (userRole.ToUpper() == "ADMINISTRATOR" || userRole.ToUpper() == "COMPLIANCEADMIN")
                {
                    <li><a href="/AdminAnalytics"><i class="ti ti-bar-chart"></i><span>Analytics</span></a></li>
                    <li><a href="/AdminReportUpdate" class="active"><i class="ti ti-alarm-clock"></i><span>Admin Report Updates</span></a></li>
                    <li>
                        <a href="#dropdown-tables" aria-expanded="false" data-toggle="collapse"><i class="ti-settings"></i><span>Settings</span></a>
                        <ul id="dropdown-tables" class="collapse list-unstyled pt-0">
                            <li><a href="/ReportSchedules">Report Schedules</a></li>
                            <li><a href="/AdminAppUser">Manage App Users</a></li>
                            <li><a href="/MailListManager">Manage Mailing List</a></li>

                        </ul>
                    </li>
                }
                <li><a href="https://cbgcomgh.sharepoint.com:443/:f:/s/Compliance/EskAP68scu9LhvslWc_gndkBMrlw1PUVvW6XexoOuIWizQ?e=5%3ahtDkGj&at=9" target="_blank"><i class="ti-anchor"></i><span>Regulatory Laws</span></a></li>
                <li><a href="#" id="logoutDashBtn"><i class="ion-log-out"></i><span>Log Out</span></a></li>

            </ul>

        </nav>
        <!-- End Side Navbar -->
    </div>

    <div class="content-inner">
        <div class="container-fluid">
            <div class="give-space"></div>

            <div class="row flex-row">

                <div class="col-md-2"></div>

                <div class="col-md-8">

                    <div class="w3-card-2 w3-white panel widget has-shadow">
                        <div class="widget-header bordered no-actions w3-light-gray">
                            <div class="row">
                                <div class="col-10">
                                    <h4>Acknowledge <b><span id="reportUpdateName"></span></b></h4>
                                </div>

                                <div class="col-2">
                                    <h4><a asp-action="Index" class="btn btn-danger outline-btn pull-right m-l-20 waves-effect waves-light"><i style="color: #000;" class='ti-angle-left'></i> Go Back</a></h4>
                                </div>

                            </div>

                        </div>
                        <div class="widget-body">

                            <form asp-action="Edit">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />

                                    <div class="col-6" style="display:none;">
                                        <label asp-for="ReportId" class="form-control-label">Report Name</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="ti-receipt"></i>
                                                </span>
                                                <input asp-for="ReportId" type="text" class="form-control" id="reportUpdateId" placeholder="Report ID">
                                                <span asp-validation-for="ReportId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6" style="display:none;">
                                        <label asp-for="Status" class="form-control-label">Status</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="ti-alarm-clock"></i>
                                                </span>
                                                <select asp-for="Status" class="form-control">

                                                    <option value="Acknowledged" selected="selected">Acknowledged</option>

                                                </select>
                                                <span asp-validation-for="Status" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6" style="display:none;">
                                        <label asp-for="ReportSentDate" class="form-control-label">Select when it was sent</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="ti-alarm-clock"></i>
                                                </span>

                                                <input asp-for="ReportSentDate" type="text" class="form-control" id="reportSentDateRange">
                                                <span asp-validation-for="ReportSentDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6" style="display:none;">
                                        <label asp-for="CreatedBy" class="form-control-label">Created By</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="ti-id-badge"></i>
                                                </span>
                                                <input asp-for="CreatedBy" type="text" class="form-control" placeholder="Created By">
                                                <span asp-validation-for="CreatedBy" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6" style="display:none;">
                                        <label asp-for="AcknowledgeReceipt" class="form-control-label">Acknowledge Receipt</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="ti-check-box"></i>
                                                </span>
                                                <input asp-for="AcknowledgeReceipt" type="text" value="Yes" class="form-control" placeholder="Acknowledge Receipt">
                                                <span asp-validation-for="AcknowledgeReceipt" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6" style="display:none;">
                                        <label asp-for="AcknowledgeDate" class="form-control-label">Acknowledge Date</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="ti-check-box"></i>
                                                </span>
                                                <input asp-for="AcknowledgeDate" type="text" value="@currentDate" class="form-control" placeholder="Acknowledge Date">
                                                <span asp-validation-for="AcknowledgeDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6" style="display:none;">
                                        <label asp-for="AcknowledgeBy" class="form-control-label">Acknowledged By</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="ti-id-badge"></i>
                                                </span>
                                                <input asp-for="AcknowledgeBy" type="text" value=@ViewData["username"] class="form-control" placeholder="Acknowledged By">
                                                <span asp-validation-for="AcknowledgeBy" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-6" style="display:none;">
                                        <label asp-for="CreatedDate" class="form-control-label">Created By</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="ti-id-badge"></i>
                                                </span>
                                                <input asp-for="CreatedDate" type="text" class="form-control" placeholder="Created Date">
                                                <span asp-validation-for="CreatedDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12" align="center">
                                        <p>By clicking the button below, you acknowlege that this report has been received.</p>
                                        <br />
                                        <button type="submit" value="Save" class="btn btn-danger btn-gradient-01 waves-effect waves-light showLoaderBtn">Acknowledge Receipt</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="give-space"></div>

                </div>

                <div class="col-md-2"></div>

            </div>
            <!-- End Row -->
            <!-- End Container -->
            <!-- Begin Page Footer-->
            <footer class="main-footer fixed-footer">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
                        <p class="text-gradient-02"><b>&copy; @currentYear, Consolidated Bank Ghana</b> | All Rights Reserved</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">

                    </div>
                </div>
            </footer>
            <!-- End Page Footer -->
            <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>

        </div>

    </div>
</div>


@*Javascript functions here*@
<!--append scripts -->
@section scripts
{

    <script src="~/assets/js/custom/report_update.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}